* { 
    box-sizing: border-box;
}

main { 
    display: flex;
    width: 30vh;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.box { 
    width: 8vh;
    height: 8vh;
    border: 1px solid black;
    /* justify-content:  */
}