* { 
    box-sizing: border-box;
}

main { 
    display: flex;
    width: 95vh;
    flex-wrap: wrap;
}

#title { 
    text-align: left;
}

.column { 
    width: 25vh;
    height: 20vh;
    font-size: xx-large;
    border: 1px solid black; 
    text-align: center;
    vertical-align: middle;
}

#start { 
    width: 15px;
    height: 15px;
}